.add-products-container {
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    padding-bottom: 1rem;
}
.title h2 {
    font-size: 2.2rem;
    font-weight: 500;
}
hr {
    margin-top: 1rem;
}
form {
    width: 60vw;
}